#x-axis {
    float: left;
    display: flex;
    height: 509px;
    border-right: solid white;
    gap: 1.5em;
}

#x-axis-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#x-axis-ticks {
    align-items: end;
    display: flex;
    flex-direction: column-reverse;
    padding: 3px;
}

.x-axis-tick {
    position: absolute;
    margin: 0;
    font-size: 8px;
}

#y-axis {
    width: 100%;
}

#y-axis-label {
    width: 500px;
    float: right;
    border-top: solid white;
}

#y-axis-ticks {
    display: flex;
    font-size: 10px;
    gap: 10px;
}
