#canvas {
    border-bottom: solid white;
    border-left: solid white;
}

#y-axis {
    float: left;
    display: flex;
    gap: 1.5em;
}

#y-axis-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

#y-axis-ticks {
    align-items: end;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10px;
}

#x-axis {
    width: 100%;
}

#x-axis-label {
    float: right;
}

#x-axis-ticks {
    display: flex;
}
